.contact {
    text-align: left;
    width: 40%;
    background-color: #1E2BA3;
    border-radius: 50px;
    color: #EBEDFF;
    display: inline-block;
    margin: 50px;
}

form fieldset {
    border: 0px;
}

form fieldset label {
    display: block;
}

form fieldset input, textarea {
    width: 100%;
}

form {
    height: 100%;
    font-size: 20px;
    padding: 20px;
}

input {
    transition: 0.5s;
    border: 1px solid black;
}

input:focus {
    outline: none;
}

.button {
    border: 0;
    background-color: #E8F7FF;
    padding: 10px 25px;
    border-radius: 10px;
    font-family: Montserrat;
    cursor: pointer;
    margin: 30px;
}

.button:hover {
    background-color: #ceedfd;
}

section {
    transition: 0.5s;
    background-color: #E8F7FF;
}

table, th, td {
    border: 1px solid rgb(146, 146, 146);
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

.invalid {
    border: 1px solid red;
}
.bio.darkmode, section.darkmode {
    background-color: #131955;
}

@media screen and (max-width: 1000px) {
    .contact {width: 90%;}
    
}