body {
    font-family: "Montserrat", "Arial";
    margin: 0;
    color: #000C7A;
    background-color: white;
    transition: 0.5s;
}

h1 {
    font-family: "Montserrat", "Arial";
    font-weight: bold;
}

h4 {
    font-family: "Montserrat", "Arial";
    font-weight: bold;
    font-size: 50px;
    margin: 0px 0px 60px 0px;
}

.logo a {
    padding: 0px;
    margin: 0px;
}

.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 18px;
}

.topnav li {
    float: left;
}

.topnav a{
    display: block;
    float: left;
    color: #EBEDFF;
    text-align: center;
    padding: 36px 40px;
    text-decoration: none;
}

.topnav a:hover:not(.logo) {
    background-color: #1E2BA3;
}

.active {
    background-color: #1E2BA3;
}

.right {
    float: right;
}

@media screen and (max-width: 600px) {
    .right, .topnav a, .topnav li {float: none;}
}


header, footer {
    background-color: #3A45AF;
    color: #EBEDFF;
}

.bio img {
    height: 250px;
    padding: 10px 20px 10px 20px;
    vertical-align: middle;
    display: inline-block;
}


.bio {
    transition: 0.5s;
    padding: 50px;
    background-color: #E8F7FF;
    overflow: hidden;
    text-align: center;
}

.realbio {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.body_left {
    overflow: hidden;
    text-align: center;
    padding: 0px 0px;
}

.body_ {
    overflow: hidden;
    text-align: left;
    padding: 0px 100px;
}

.body_left img {
    vertical-align: middle;
    display: inline-block;
}

.body_left iframe {
    vertical-align:top;
    display: inline-block;
}

.paragraph_right {
    width: 40%;
    margin: 50px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.ilustration {
    width: 40%;
}

.bunny {
    border-radius: 60px;
    float: right;
    margin: 20px;
    max-height: 150px;
    max-width: 485px;
}

section {
    padding: 40px;
}

section h4 {
    text-align: left;
}

.blue {
    transition: 0.5s;
    background-color: #3A45AF;
    color: #EBEDFF;
}

.white {
    background-color: white;
    color: #000C7A;
    transition: 0.5s;
}

footer {
    padding: 10px;
    text-align: center;
}

footer p {
    margin: 0px;
}

/* Dark mode */

.darkmode {
    background-color: rgb(12, 0, 66);
    color: #E8F7FF;
}

.white.darkmode {
    color: #E8F7FF;
    background-color: #131955;
}

/* Dark mode button */

.dot{
    transition: 0.5s;
    position: fixed;
    height: 30px;
    width: 30px;
    background-color: #E8F7FF;
    border-radius: 50%;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgb(122, 122, 122);
}

.dot.darkmode{
    background-color: #131955;
    box-shadow: 2px 2px 4px rgb(15, 6, 56);
}

.center {
    margin: 5px;
}

@media screen and (max-width: 450px) {
    footer p {margin: 10px;}
    
}

@media screen and (max-width: 814px) {
    .ilustration, .paragraph_right, .bunny {
        width: 100%;
        margin: 20px 0px;
        float: none;
    }
}

@media screen and (max-width: 814px) {
    section {
        padding: 40px;
    }
}

@media screen and (max-width: 814px) {
    .body_ {
        padding: 0px;
    }
}

@media screen and (max-width: 900px) {
    iframe {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    h4 {
        font-size: 25px;
    }
    iframe { height: 150px;

    }
}


/*Montserrat SemiBold*/
@font-face {
    font-family: Montserrat;
    src: url(../assets/Montserrat-SemiBold.ttf);
    src: url(../assets/Montserrat-SemiBold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Montserrat SemiBold italic*/
@font-face {
    font-family: Montserrat;
    src: url(../assets/Montserrat-SemiBoldItalic.ttf);
    src: url(../assets/Montserrat-SemiBoldItalic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

/*Montserrat Bold*/
@font-face {
    font-family: Montserrat;
    src: url(../assets/Montserrat-Bold.ttf);
    src: url(../assets/Montserrat-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

/*Montserrat Bold Italic*/
@font-face {
    font-family: Montserrat;
    src: url(../assets/Montserrat-BoldItalic.ttf);
    src: url(../assets/Montserrat-BoldItalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}